/* Overwrite UIKit v3 */

legend {
	width: fit-content;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25em;
}

/* Overwrite DataTables */

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	top: 15px;
	transform-origin: 25% 50%;
	border: 8px solid transparent;
	border-left-color: #007bff;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	position: absolute;
	margin-top: 1px;
	background-color: inherit;
	box-shadow: none;
	border-radius: 0;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	transform: rotate(90deg);
}
