.table-toggle {
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 3;
	transition: background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out,
                 border-color .15s ease-in-out,
                 box-shadow .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out,
                      border-color .15s ease-in-out,
                      box-shadow .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out,
                   border-color .15s ease-in-out,
                   box-shadow .15s ease-in-out;
	-ms-transition: background-color .15s ease-in-out,
                  border-color .15s ease-in-out,
                  box-shadow .15s ease-in-out;
}

.sort-alpha::after {
	content: " \f15e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sort-alpha.sort::after {
	content: " \f15d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sort-num::after {
	content: " \f162";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sort-num.sort::after {
	content: " \f163";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

@media (min-width: 992px) {
	.sort-alpha::after,
	.sort-num::after {
		float: right;
	}
}

td:not(:first-child)::before {

	content: "\f155  ";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

legend {
  width: fit-content;
}

fieldset {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25em;
}

.card {
  padding: .5em;
}
